/* Reset default styles for body */
body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Update background color to space black or charcoal */
    color: #fff; /* Update font color to white */
    margin: 0;
    padding: 0;
}

/* Container for the entire page */
main {
    display: flex;
    flex-direction: row; /* Display content horizontally */
    max-width: 100%; /* Adjust the maximum width for full-width display */
    background-color: #111; /* Update background color to space black or charcoal */
    padding: 0;
    position: relative; /* Add relative positioning for absolute child elements */
}

/* Container for Sections and Vertical Line */
.container {
    display: flex;
    align-items: flex-start; /* Align children at the top */
    justify-content: flex-start; /* Align children to the left */
    width: 100%; /* Occupy full width of the container */
    position: relative; /* Add relative positioning for absolute child elements */
}

/* Vertical line */
.vertical-line {
    width: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%; /* Adjust the left position as needed */
}

/* Sections */
.section-content {
    flex: 1;
    color: #fff;
    padding: 0 20px; /* Add padding to sections for space */
    width: 60%; /* Set a consistent width for the sections */
    margin-left: 10%; /* Adjust the left margin for content */
}

/* Styles for headings and paragraphs */
h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.2;
    white-space: pre-line;
}

/* Style for clickable links */
a {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

/* Navigation menu styles */
nav a {
    color: #fff;
}

/* Remove list item markers */
nav ul {
    list-style: none;
    padding: 0;
}

/* List items (sections) */
nav ul li {
    margin-bottom: 9px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Display content vertically on small screens */
        max-width: 100%; /* Adjust the maximum width for small screens */
    }

    /* Hide the vertical line on small screens */
    main::before {
        display: none;
    }

    /* Reset margin for contact section on small screens */
    .contact-section {
        margin-left: 0;
    }
}
